/* Element CSS */
body{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    text-align: center;
}
/* Colors */

.feature-text, .copyright, .card-body p{
    color: rgba(33, 37, 41, 0.75);
}

.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color:#fff;
    color:#000;
}



/* Font */
.testimonial-text, .pricing-header, .pricing-title, .download-text{
    font-weight:600;
}

#intro, .feature-titles, .pricing-header h2{
    font-family:"Montserrat",sans-serif;
    font-weight:900;
}


/* Navbar  */

.navigation{
    padding:1.5% 10%;
}

.navbar-brand{
    font-size:2rem;
    font-family:"Ubuntu",sans-serif;
}

.nav-link{
    margin-right:20px;
}

.navbar-menu{
    font-size:1.2rem;
}



/* Title */

#intro{
    padding:20% 0 8%;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom:3rem;
}

.buttons{
    letter-spacing:1rem;
    margin-bottom:5rem;
}

.download-btn{
    padding:10px 29px;
    font-size:1.28rem;
}

#phone{
    text-align:center;
}

#phone-image{
    height:40rem;
    padding-top:3rem;
    
}




/* Responsive */
@media (max-width: 991.5px){
    #intro-col{
        text-align: center;
    }
    #phone-image{
        rotate:30deg;
    }
}

@media(min-width: 992px){
    #intro{
        text-align: left;
    }
    #phone-image{
        rotate:30deg;
    }
}

@media(min-width: 1202px){
    #intro-col{
        text-align: left;
    }
    #phone-image{
        rotate:45deg;
    }
}




/* Features */

.feature{
    padding:10% 5%;
    line-height:2;
}

.feature-titles{
    font-size:1.5rem;
}

.symbol{
    color:#ef8172;
    margin:0 0 1rem;
}

.symbol:hover{
    color:#ff4c68
}




/* Testimonials */
#testimonials{
    /* background-color:#ff715e; */
    background-color:#fa677d;
    
}

.testimonial-text{
    font-family: "Montserrat",sans-serif;
    font-size:2.75rem;
    padding-bottom:50px;
    line-height:1.5;
}

.testimonial-image{
    width:12%;
    border-radius:100%;
    margin-right:20px;
}

.carousel-item{
    padding:6.5% 15%;
}




/* Press */
#press{
    background-color:#fa677d;
    padding:1.5% 7.5% 1.5%;

}
.press-image{
    width:70%;
    margin: 20px 20px 50px;
}




/* Pricing */

#btn-free, .btn-paid{
    font-size:1.2rem;
    width:100%;
}

#pricing{
    padding:100px;
}

.pricing-header{
    line-height:2;
    text-align:center;
    margin: 0 0 2.75rem 0;
}
.pricing-header h2{
    font-size:2.5rem;
}

.pricing-column{
    padding:3.5% 2%;
}

.pricing-title{
    font-size:2.4rem;
    line-height: 2.5;
}




/* Download */
#download{
    padding: 8% 10% 10%;
}

.download-text{
    font-size:2.5rem;
    padding-bottom:3.25rem;
    line-height:1.5;
}

.download-button{
    margin:auto 1rem;
}




/* footer */
#footer{
    padding:7% 0;
}

.contact-icon{
    padding:0.75rem;
    margin-bottom:1.2rem;
    color:black;
}

.contact-icon:hover{
    color:gray;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* #top-btn {
    position: fixed;
    bottom: 10px;
    float: right;
    right:1%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: transparent;
    background-color: transparent;
    padding: .5px;
    border-radius: 4px;
}

.top-icon{
    color:black;
} */

